// border and thin lines colors
$border-pink-color: #F0DDEB;
$border-pink-muted-color: #F7EEF5;

// flat ui elements colors
$red-color: #EC4863;
$bright-violet-color: #9E8697;
$muted-violet-color: #CBBFC5;
$cream-color: #F4F2E9;
$muted-cream-color: #F9F8F4;

// vm states colors
$running-color: #3fc380;
$paused-color: #a2ded0;
$restart-color: #F2784B;
//$stopped-color: #f64747;
$stopped-color: $red-color;
