#page-index {
  $item-total-width: 200px;

  .items {
    list-style: none;
    text-align: center;

    padding: 30px 0px 5px;
    margin: 0;
    @include grouping;

    ul {
      padding: 0;
    }

    li {
      $item-width: 120px;
      width: $item-width;
      display: inline-block;

      margin: 0 5px;
      @media(min-width: $screen-sm) {
        margin: 0 20px;
      }
      @media(min-width: $screen-lg) {
        margin: 0 ($item-total-width - $item-width) / 2;
      }

      padding: 10px 0;
      background-color: $light;
      border-radius: 10px;

      span {
        font-size: 150%;
      }

      i {
        color: $brand-primary;
        margin-right: 10px;
      }

      .value {
        background-color: #FAF9F3;
        font-size: 24px;
        padding: 5px 0;
      }
    }
  }

  table {
    margin-top: 50px;

    .name {
      i {
        margin-right: 5px;
      }

      width: 70%;

      &.on * {
        color: $brand-success;
      }
      &.off * {
        color: $brand-primary;
      }

      .error {
        margin-left: 15px;
        font-size: 13px;
      }
    }
    .memory, .storage {
      text-align: right;
    }
  }

  p {
    text-align: center;
    margin-top: 20px;
  }
}
